#CantidadesArriba{
    display: flex;
    justify-content: center;
    width: 100vw;
}
#CantidadesArriba .ContenedorCantidadArriba{
    width: 30%;
}
#CantidadesArriba .ContenedorCantidadArriba div{
    display: flex;
    justify-content: center;
}
#CantidadesArriba .CantidadArriba{
    color: white;
    font-size: 18px;
}
#CantidadesArriba .DescripcionCantidad{
    display: block;
    width: 30vw;
    text-align: center;
    font-size: 12px;
    color: rgb(204, 204, 204);
}
#CantidadMyCash{
    width: 100vw;
}
#CantidadMyCash div{
    width: 100%;
    display: flex;
    justify-content: center;
}
#CantidadMyCash .CantidadAbajo, #CantidadMyCash input{
    color: white;
    font-size: 25px;
}
#CantidadMyCash input{
    text-align: center;
    width: 150px;
    padding-right:15px;
    border: none;
    background-color: rgba(0, 180, 119,0);
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

#CantidadMyCash input:hover{
    text-decoration: underline;
}
#CantidadMyCash input:focus{
    outline: none;
}
#CantidadMyCash input::placeholder{
    text-align: center;
    color: rgb(204, 204, 204);
}

#CantidadMyCash .DescripcionCantidad{
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(204, 204, 204);
}

@media screen and (min-width: 768px){
    #CantidadesArriba .CantidadArriba{
        font-size: 30px;
    }
    #CantidadesArriba .DescripcionCantidad{
        font-size: 18px;
    }
    #CantidadMyCash{
        margin-top: 20px;
    }
    #CantidadMyCash .CantidadAbajo, #CantidadMyCash input{
        font-size: 45px;
    }
    #CantidadMyCash input{
        width: 350px;
        padding-right:25px;
    }
    #CantidadMyCash .DescripcionCantidad{
        font-size: 20px;
    }
}    