*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(1, 113, 189);
    font-family: monospace;
}
header{
    color: rgb(255, 176, 6);
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}
a{
    color: rgb(255, 176, 6);
}
.publicidad{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.publicidad iframe:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 0.8s;
}
.publicidad a:hover{
    font-size: 20px;
    transition: 1s;
}
footer{
    min-height: 100px;
}
@media screen and (min-width: 768px){
    header{
        font-size: 20px;
    }
}    