.TotalResultadosLista div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.TotalResultadosLista div{
    color: white;
    font-size: 25px;
}
.DescripcionTotal{
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(204, 204, 204);
}
@media screen and (min-width: 768px){
    .TotalResultadosLista div{
        font-size: 35px;
    }
    .DescripcionTotal{
        font-size: 20px;
    }
} 