.Boton1{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.Boton1 button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: white;
    background-color: rgb(37, 182, 117);

    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;

    -webkit-box-shadow: inset -4px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -4px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset -4px -4px 5px 0px rgba(0,0,0,0.75);
}
.Boton1 button:active{
    -webkit-box-shadow: inset -0px -0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -0px -0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: inset -0px -0px 0px 0px rgba(0,0,0,0.75);
}
.Boton1 button:hover{
    background-color: rgb(67, 182, 117);
}
@media screen and (min-width: 768px){
    .Boton1 button{
        height: 50px;
        width: 250px;
        font-size: 25px;
    }
} 